# /etc/haproxy/haproxy.cfg spawndev.com

global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
  mode http
  log global
  option httplog
  option  http-server-close
  option  dontlognull
  option  redispatch
  option  contstats
  retries 3
  backlog 10000
  timeout client          25s
  timeout connect          5s
  timeout server          25s
# timeout tunnel available in ALOHA 5.5 or HAProxy 1.5-dev10 and higher
  timeout tunnel        3600s
  timeout http-keep-alive  1s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  default-server inter 3s rise 2 fall 3
  option forwardfor except 127.0.0.1

  # backend defaults

frontend www_frontend
    bind :80
    # LetsEncrypt route
    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    use_backend letsencrypt_backend if letsencrypt-acl
    # drop others
    default_backend drop_backend

frontend wwws_frontend
    # comment out below line until cert is first created
    bind :44365 ssl crt /etc/ssl/delta.spawndev.com/delta.spawndev.com.pem
    # LetsEncrypt443
    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    use_backend letsencrypt_backend if letsencrypt-acl

    acl speernet_path_acl path_beg /_sio/
    acl pi_spawndev_acl hdr(host) -i pi.spawndev.com:44365

    # spawndev.com subdomain frontends
    use_backend njs_pi_spawndev_speernet if pi_spawndev_acl speernet_path_acl
    use_backend njs_pi_spawndev if pi_spawndev_acl
    use_backend njs_static if { hdr(Host) -i apps.spawndev.com:44365 }
    use_backend njs_cdn_spawndev if { hdr(Host) -i cdn.spawndev.com:44365 }
    use_backend njs_delta_spawndev if { hdr(Host) -i delta.spawndev.com:44365 }
    use_backend njs_psi_spawndev if { hdr(Host) -i psi.spawndev.com:44365 }
    use_backend njs_xi_spawndev if { hdr(Host) -i xi.spawndev.com:44365 }
    use_backend njs_zeta_spawndev if { hdr(Host) -i zeta.spawndev.com:44365 }
    use_backend njs_hub_spawndev if { hdr(Host) -i hub.spawndev.com:44365 }
    use_backend njs_map_spawndev if { hdr(Host) -i map.spawndev.com:44365 }

    # traderzeds.com
    use_backend njs_static if { hdr(Host) -i apps.traderzeds.com:44365 }
    # authentication server
    use_backend pi_traderzeds if { hdr(Host) -i pi.traderzeds.com:44365 }
    # dev server
    use_backend delta_traderzeds if { hdr(Host) -i delta.traderzeds.com:44365 }
    # dev server
    use_backend zeta_traderzeds if { hdr(Host) -i zeta.traderzeds.com:44365 }
    # dev server
    use_backend xi_traderzeds if { hdr(Host) -i xi.traderzeds.com:44365 }
    
    # drop unknown domains
    default_backend drop_backend
    # block if !sub_delta AND !sub_apps AND !is_websocket AND !letsencrypt-acl

# drop backend
backend drop_backend
    http-request silent-drop

# LetsEncrypt backend
backend letsencrypt_backend
    server letsencrypt 127.0.0.1:8888

# static sites backend
backend njs_static
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server apps0 127.0.0.1:4111 weight 1 maxconn 8192 check

# traderzeds.com backends
# DO NOT CHANGE
backend pi_traderzeds
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server pi_traderzeds_0 192.168.1.108:2311 weight 1 maxconn 8192 check

# zeta.traderzeds.com:44365
# visual studio hosted ASP.Net TraderZeds.Server (http on port 5248)
# netsh interface portproxy add v4tov4 listenaddress=0.0.0.0 listenport=2989 connectaddress=127.0.0.1 connectport=5248
# netsh interface portproxy delete v4tov4 listenaddress=0.0.0.0 listenport=2989
backend zeta_traderzeds
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server zeta0 192.168.1.121:2989 weight 1 maxconn 8192 check

# delta.traderzeds.com:44365
# /srv/traderzeds_delta
# uses ssh to log into this server and forwards 127.0.0.1:3200 to it's own port (127.0.0.1:5134) used by ASP.Net app
backend delta_traderzeds
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server pi0 192.168.1.113:2989 weight 1 maxconn 8192 check

# dev
backend xi_traderzeds
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    # on dev pc, 0.0.0.0:2998 is forwarded to 127.0.0.1:5001 for visual studio
    server xi_traderzeds_0 192.168.1.102:2998 weight 1 maxconn 8192 check

# spawndev.com backends
backend njs_apps_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server apps0 127.0.0.1:3000 weight 1 maxconn 8192 check

backend njs_cdn_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server cdn0 127.0.0.1:3100 weight 1 maxconn 8192 check

# delta.spawndev.com:44365
# VM on NUC
# /srv/spawndev_delta
# uses ssh to log into this server and forwards 127.0.0.1:3200 to it's own port (127.0.0.1:5134) used by ASP.Net app
backend njs_delta_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server delta0 127.0.0.1:3200 weight 1 maxconn 8192 check
    # server delta0 192.168.1.113:5134 weight 1 maxconn 8192 check

# hub.spawndev.com - WebTorrent Hub (tracker + HuggingFace model proxy)
backend njs_hub_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server hub0 192.168.1.113:5561 weight 1 maxconn 8192 check

# webtorrent tracker on NUC VM
backend njs_pi_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server pi0 192.168.1.113:43444 weight 1 maxconn 8192 check

# speernet_spawndev on NUC VM
backend njs_pi_spawndev_speernet
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server pi0 192.168.1.113:43445 weight 1 maxconn 8192 check

# nodejs firewall allowed for debugging
backend njs_psi_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server psi0 192.168.1.121:43444 weight 1 maxconn 8192 check

# xi.spawndev.com:44365
# visual studio hosted Blazor WASM client SpawnDev (http on port 5192)
# netsh interface portproxy show all
# netsh interface portproxy add v4tov4 listenaddress=0.0.0.0 listenport=2888 connectaddress=127.0.0.1 connectport=5192
# netsh interface portproxy delete v4tov4 listenaddress=0.0.0.0 listenport=2888
backend njs_xi_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server xi0 192.168.1.120:2888 weight 1 maxconn 8192 check
    # http-response set-header Content-Security-Policy "default-src 'self' 'unsafe-eval' 'unsafe-inline' ws: data: blob: spawndev.com:* *.spawndev.com:*; connect-src blob: *; worker-src 'self' blob: spawndev.com:* *.spawndev.com:*;"
    # "require-corp" or "credentialless"
    http-response set-header Cross-Origin-Embedder-Policy "credentialless"
    http-response set-header Cross-Origin-Opener-Policy "same-origin"
    http-response set-header Content-Security-Policy-Report-Only "base-uri 'self'; default-src 'unsafe-inline' 'unsafe-eval' https://*.paypal.com https://*.spawndev.com http://localhost:* https://xi.spawndev.com:44365; report-uri https://zeta.spawndev.com:44365/api/SCPReport/Report;"

# zeta.spawndev.com:44365
# visual studio hosted ASP.Net SpawnDev.AccountsServer (http on port 5134)
# netsh interface portproxy show all
# netsh interface portproxy add v4tov4 listenaddress=0.0.0.0 listenport=2889 connectaddress=127.0.0.1 connectport=5134
# netsh interface portproxy delete v4tov4 listenaddress=0.0.0.0 listenport=2889
backend njs_zeta_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server zeta0 192.168.1.120:2889 weight 1 maxconn 8192 check

# map.spawndev.com:44365
# AubsCraft BlueMap - Minecraft live world map
backend njs_map_spawndev
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server map0 192.168.1.142:5080 weight 1 maxconn 8192 check

backend zeta_any
    option http-server-close
    option httpclose
    no option httpclose
    option forwardfor except 127.0.0.1
    http-request add-header x-forwarded-proto https
    server zeta_any_0 192.168.1.102:2999 weight 1 maxconn 8192 check
